<div class="sec_logo">
    <a href="" id="codeDashboardLink"><img class="gmb_logo" src="../assets/img/utama/Logo-Lotto21.png" alt="l21"></a>
    <svg id="icon_expand" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-category"
        viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <path d="M4 4h6v6h-6z" />
        <path d="M14 4h6v6h-6z" />
        <path d="M4 14h6v6h-6z" />
        <path d="M17 17m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
    </svg>
</div>
<div class="sec_list_sidemenu">
    <div class="bagsearch side">
        <div class="grubsearchnav">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-search" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M10 10m-7 0a7 7 0 1 0 14 0a7 7 0 1 0 -14 0" />
                <path d="M21 21l-6 -6" />
            </svg>
            <input type="text" placeholder="Cari Tabel..." id="searchTabel">
        </div>
    </div>
    <div class="nav_group">
        <span class="title_Nav">General</span>
        <div class="list_sidejsx">
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home"
                        viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                        <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                        <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
                    </svg>
                    <span class="nav_title1">Dashboard</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class="sub_data_sidejsx">
                <a href="#" id="codeDashboardLink">
                    <div class="list_subdata active">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Dashboard</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Data IP</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Data Users</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">History Activity Users</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <div class="nav_group">
        <span class="title_Nav">WEBSITE L21</span>
        <div class="list_sidejsx">
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-world-www"
                        viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M19.5 7a9 9 0 0 0 -7.5 -4a8.991 8.991 0 0 0 -7.484 4" />
                        <path d="M11.5 3a16.989 16.989 0 0 0 -1.826 4" />
                        <path d="M12.5 3a16.989 16.989 0 0 1 1.828 4" />
                        <path d="M19.5 17a9 9 0 0 1 -7.5 4a8.991 8.991 0 0 1 -7.484 -4" />
                        <path d="M11.5 21a16.989 16.989 0 0 1 -1.826 -4" />
                        <path d="M12.5 21a16.989 16.989 0 0 0 1.828 -4" />
                        <path d="M2 10l1 4l1.5 -4l1.5 4l1 -4" />
                        <path d="M17 10l1 4l1.5 -4l1.5 4l1 -4" />
                        <path d="M9.5 10l1 4l1.5 -4l1.5 4l1 -4" />
                    </svg>
                    <span class="nav_title1">Tabel Website</span>
                </a>
            </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-gift"
                        viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round"
                        stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path
                            d="M3 8m0 1a1 1 0 0 1 1 -1h16a1 1 0 0 1 1 1v2a1 1 0 0 1 -1 1h-16a1 1 0 0 1 -1 -1z" />
                        <path d="M12 8l0 13" />
                        <path d="M19 12v7a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-7" />
                        <path
                            d="M7.5 8a2.5 2.5 0 0 1 0 -5a4.8 8 0 0 1 4.5 5a4.8 8 0 0 1 4.5 -5a2.5 2.5 0 0 1 0 5" />
                    </svg>
                    <span class="nav_title1">Tabel Hadiah & Diskon</span>
                </a>
            </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-photo-search" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M15 8h.01" />
                        <path d="M11.5 21h-5.5a3 3 0 0 1 -3 -3v-12a3 3 0 0 1 3 -3h12a3 3 0 0 1 3 3v5.5" />
                        <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M20.2 20.2l1.8 1.8" />
                        <path d="M3 16l5 -5c.928 -.893 2.072 -.893 3 0l2 2" />
                    </svg>
                    <span class="nav_title1">Tabel Media</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
                <div class="sub_data_sidejsx">
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">News</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Event</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Stream</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Konten Live Stream</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Panduan</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Gallery Foto</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Gallery Video</span>
                        </div>
                    </a>
                </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-tags" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M7.859 6h-2.834a2.025 2.025 0 0 0 -2.025 2.025v2.834c0 .537 .213 1.052 .593 1.432l6.116 6.116a2.025 2.025 0 0 0 2.864 0l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-6.117 -6.116a2.025 2.025 0 0 0 -1.431 -.593z" />
                        <path d="M17.573 18.407l2.834 -2.834a2.025 2.025 0 0 0 0 -2.864l-7.117 -7.116" />
                        <path d="M6 9h-.01" />
                    </svg>
                    <span class="nav_title1">Promosi</span>
                </a>
            </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-calendar-time" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" />
                        <path d="M18 18m-4 0a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" />
                        <path d="M15 3v4" />
                        <path d="M7 3v4" />
                        <path d="M3 11h16" />
                        <path d="M18 16.496v1.504l1 1" />
                    </svg>
                    <span class="nav_title1">Tabel Jadwal Pools</span>
                </a>
            </div>
        </div>
        <div class="data_sidejsx">
            <a href="#">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google-analytics" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M10 9m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v9.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" />
                    <path d="M17 3m0 1.105a1.105 1.105 0 0 1 1.105 -1.105h1.79a1.105 1.105 0 0 1 1.105 1.105v15.79a1.105 1.105 0 0 1 -1.105 1.105h-1.79a1.105 1.105 0 0 1 -1.105 -1.105z" />
                    <path d="M5 19m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                </svg>
                <span class="nav_title1">Data Analytics</span>
                <div class="arrow_side">
                    <svg xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                        stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l14 0" />
                        <path d="M13 18l6 -6" />
                        <path d="M13 6l6 6" />
                    </svg>
                </div>
            </a>
        </div>
            <div class="sub_data_sidejsx">
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Arwanatoto</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Duogaming</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Jeeptoto</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Tstoto</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Doyantoto</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Arta4d</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Neon4d</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Zara4d</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Roma4d</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Nero4d</span>
                    </div>
                </a>
                <a href="#">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Toke4d</span>
                    </div>
                </a>
            </div>
    </div>
    <div class="nav_group">
        <span class="title_Nav">PROJECT</span>
        <div class="list_sidejsx">
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-nintendo" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M10 20v-16h-3a4 4 0 0 0 -4 4v8a4 4 0 0 0 4 4h3z" />
                        <path d="M14 20v-16h3a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-3z" />
                        <circle cx="17.5" cy="15.5" r="1" fill="currentColor" />
                        <circle cx="6.5" cy="8.5" r="1" fill="currentColor" />
                    </svg>
                    <span class="nav_title1">RTP</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
                <div class="sub_data_sidejsx">
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Pragmatic</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Habanero</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Microgaming</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">PG Soft</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Top Gaming</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">IDN Slot</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">GMW</span>
                        </div>
                    </a>
                </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-sport-billard" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 10m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M12 14m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0" />
                        <path d="M12 12m-8 0a8 8 0 1 0 16 0a8 8 0 1 0 -16 0" />
                    </svg>
                    <span class="nav_title1">SYAIR</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
                <div class="sub_data_sidejsx">
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Table Syair</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Title & Body Syair</span>
                        </div>
                    </a>
                </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-device-mobile-search" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M12 21h-4a2 2 0 0 1 -2 -2v-14a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v6" />
                        <path d="M18 18m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                        <path d="M20.2 20.2l1.8 1.8" />
                        <path d="M11 4h2" />
                        <path d="M12 17v.01" />
                    </svg>
                    <span class="nav_title1">APK</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
                <div class="sub_data_sidejsx">
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Notifikasi APK</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Contact APK</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Link APK</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Setting APK</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Pemberitahuan APK</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Website APK</span>
                        </div>
                    </a>
                </div>
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-list-numbers" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M11 6h9" />
                        <path d="M11 12h9" />
                        <path d="M12 18h8" />
                        <path d="M4 16a2 2 0 1 1 4 0c0 .591 -.5 1 -1 1.5l-3 2.5h4" />
                        <path d="M6 10v-6l-2 2" />
                    </svg>
                    <span class="nav_title1">Paito</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
                <div class="sub_data_sidejsx">
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Pasaran Paito</span>
                        </div>
                    </a>
                    <a href="#">
                        <div class="list_subdata">
                            <div class="dotsub"></div>
                            <span class="sub_title1">Result Paito</span>
                        </div>
                    </a>
                </div>
        </div>
    </div>
    <div class="nav_group">
        <span class="title_Nav">Component</span>
        <div class="list_sidejsx">
            <div class="data_sidejsx">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-components" viewBox="0 0 24 24" stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                        <path d="M3 12l3 3l3 -3l-3 -3z" />
                        <path d="M15 12l3 3l3 -3l-3 -3z" />
                        <path d="M9 6l3 3l3 -3l-3 -3z" />
                        <path d="M9 18l3 3l3 -3l-3 -3z" />
                    </svg>
                    <span class="nav_title1">Components</span>
                    <div class="arrow_side">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-arrow-right" viewBox="0 0 24 24"
                            stroke-width="1.5" fill="none" stroke-linecap="round" stroke-linejoin="round">
                            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                            <path d="M5 12l14 0" />
                            <path d="M13 18l6 -6" />
                            <path d="M13 6l6 6" />
                        </svg>
                    </div>
                </a>
            </div>
            <div class="sub_data_sidejsx">
                <a href="#" id="codeBoxLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Box</span>
                    </div>
                </a>
                <a href="#" id="codeTableLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Tabel</span>
                    </div>
                </a>
                <a href="#" id="codeFormLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Form</span>
                    </div>
                </a>
                <a href="#" id="codeModalLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Modal</span>
                    </div>
                </a>
                <a href="#" id="codeButtonLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Button</span>
                    </div>
                </a>
                <a href="#" id="codeCardLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Card</span>
                    </div>
                </a>
                <a href="#" id="codeOtherLink">
                    <div class="list_subdata">
                        <div class="dotsub"></div>
                        <span class="sub_title1">Code_Other</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>